{% extends 'base.html' %}
{% load static %}

{% block title %}Foos{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}">
{% endblock %}

{% block content %}

  <header>
    <div class="header-title">Foos Groups</div>
    <a id="btn-add" class="btn-link" href="{% url 'foos:create' %}">Add Foo</a>
  </header>

  <div class="list-container">
    
    {% for foo in list_foo %}
      <div class="list-item">
        {# <a class="btn-item-title" href="{% url 'child:list' foo_id=foo.id %}">{{foo.title}}</a> #}
        <a class="btn-item-title" href="">{{foo.title}}</a>
        <a class="btn-icon btn-edit" href="{% url 'foos:update' foo.id %}"></a>
      </div>
    {% endfor %}
      
  </div>

{% endblock %}