.form-container{
  border-radius: 2px;
  background-color: white;
  box-shadow: gray 1px 1px 5px;
  min-width: 30%;
  display: flex;
  flex-direction: column;
}

.form-header{
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  background-color: rgb(70, 70, 70);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-body{
  padding: 15px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-footer{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

/* Parts */

.form-title{
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.btn-form{
  min-width: 50px;
  border: none;
  outline: none;
  color: rgb(92, 92, 92);
  font-size: 14px;
  font-weight: bold;
  background:none;
  cursor: pointer;
  text-decoration: none;
}

.btn-delete{
  color: rgb(193, 100, 100);
  align-self: flex-start;

}

form label{
  color: gray;
  font-size: 14px;
}

form input,
form textarea{
  color: rgb(68, 68, 68);
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px;
  resize: none;
}

form textarea{
  height: 100px;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
}

.footer-group{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
}