.btn-icon{
  width: 22px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.btn-icon:hover{
  filter: contrast(50%);
}

.btn-icon:active{
  scale: 90% 90%;
}

/*  */

.btn-edit{
  background-image: url('../icons/ic_edit.png');
  filter: contrast(20%);
}

.btn-back{
  background-image: url('../icons/ic_back.png');
}

.btn-upload{
  background-image: url('../icons/ic_upload.png');
}

.btn-download{
  background-image: url('../icons/ic_download.png');
}